.root {
  align-content: center;

  box-sizing: border-box;
  max-width: fit-content;
  height: 4rem;
  padding: 0.5rem 0.8rem;
  border: var(--border-regular) solid var(--color-primary);

  line-height: 1.25;
  white-space: pre;

  background: var(--color-surface);

  a {
    color: inherit;
    text-decoration: underline var(--color-link-underline);
    transition: color .5s ease-out;

    &:hover {
      color: var(--color-primary);
      text-decoration: none;
      transition: color 0.1s ease-out;
    }
  }
}
