.root {
  box-sizing: border-box;
  max-width: fit-content;
  height: 4rem;
  padding: 0.5rem;
  border: var(--border-regular) solid var(--color-primary);

  line-height: 1.25;
  white-space: pre;

  a {
    color: inherit;
    text-decoration: underline var(--color-link-underline);

    &:hover {
      color: var(--color-primary);
      text-decoration: none;
    }
  }
}
