.selected {
  position: sticky;
  top: 0;

  grid-column: 2 / 2;
  grid-row-start: 1;
  align-self: start;

  margin: 0 auto;

  img {
    max-width: 100%;
    max-height: calc(80vh - 4rem);
  }
}

.description {
  display: inline-block;
  max-width: 35rem;
  margin-top: 1rem;
  text-wrap: pretty;
}

.descriptionText {
  white-space: break-spaces;
}

.code {
  font-size: 0.9em;
  font-style: italic;
}
