.root {
  grid-column: 1 / 1;
  grid-row-start: 1;
}

.code {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;

  padding: 0.1em 0.3em 0.2em;

  color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;

  opacity: 1;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  flex-flow: row wrap;

  margin: calc(var(--spacing) / -2) 0 0;
  padding: 0;

  list-style-type: none;

  li {
    display: flex;
    max-height: 10rem;
  }

  @media (width <= 800px) {
    grid-template-columns: repeat(auto-fill, var(--mobile-grid-size));
  }
}

.button {
  position: relative;
  display: flex;
  padding: calc(var(--spacing) / 2);
  border: none;


  img {
    aspect-ratio: 1 / 1;
    width: 100%;

    object-fit: cover;
    object-position: center;

    transition: all .3s var(--easing-elastic);
  }

  &:hover img {
    z-index: 1;
    transform: scale(1.5) perspective(40rem) rotateY(-10deg) rotateX(5deg);
    box-shadow: rgb(0 0 0 / 10%) .7rem 1.5rem 2.5rem, rgb(0 0 0 / 17%) .7rem 1rem 1.5rem, rgb(0 0 0 / 80%) .01rem .01rem .3rem;

    /* transition: all .4s var(--easing-elastic); */
    image-rendering: optimizequality;
  }

  &.selected img {
    outline: var(--border-large) solid var(--color-primary);
  }
}
