.root {
  grid-column: 1 / 1;
  grid-row-start: 1;
}

.code {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  overflow: hidden;

  padding: 0.1em 0.3em 0.2em;

  color: transparent;
  text-overflow: ellipsis;
  white-space: nowrap;

  opacity: 1;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  flex-flow: row wrap;
  gap: 1rem;

  margin: 0;
  padding: 0;

  list-style-type: none;

  li {
    display: flex;
    max-height: 10rem;
  }

  @media (width <= 800px) {
    grid-template-columns: repeat(auto-fill, var(--mobile-grid-size));
  }
}

.button {
  position: relative;

  display: flex;

  padding: 0;
  border: none;

  background-color: oklch(0% 0 0 / 10%);

  img {
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &:hover img {
    opacity: 0.8;
  }

  &.selected {
    outline: var(--border-large) solid var(--color-primary);
  }
}
