:root {
  --color-page: hsl(0, 0%, 90%);
  --color-text: hsl(0, 0%, 20%);
  --color-text-onprimary: hsl(0, 0%, 100%);
  --color-primary: hsl(350, 85%, 43%);

  @media (prefers-color-scheme: dark) {
    --color-page: hsl(0, 0%, 10%);
    --color-text: hsl(0, 0%, 95%);
  }
}

html {
  color: var(--color-text);
  background: var(--color-page);
}

body {
  margin: 0;
}
